@use "../variable";
@use "../mixin" as mix;

#user_list {
    .list_box {
        margin-top: 30px;
    }
}

#user_detail {
    .group_list {
        margin-top: 30px;
    }
}

#user_register {
    @include mix.formStyle;
}

#user_editer {
    @include mix.formStyle;

    .delete_button {
        margin: 40px 0 20px 0;
        width: 80%;
        border-radius: 30px;
        font-weight: bold;
    }
}