#album_detail {
    .desktop_tab {
        padding: 10px;
    }

    /* 画像投稿ボタン(モバイル用はアルバム名)とタブを同一行にデザイン */
    .pos_relative {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .pos_right {
        position: absolute;
        right: 0%;
    }

    .ic_button {
        background-color: rgb(126, 170, 252);
        color: white;

        &.desk {
            margin: 10px 0 10px 0;
        }

        &.mobile {
            height: 60%;
            bottom: 5px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

#album_register {
    .card {
        margin-top: 50px;
        background-color: white;
        min-height: 250px;
        
        .header {
            background-color: rgb(253, 200, 103);
            height: 5%;
        }
        .header_title {
            font-family: 'Merienda', 'cursive';
            font-size: 1.2rem;
            color: white;
        }
    }

    form {
        .textfield {
            margin: 15px 0 15px 0;
            width: 80%;
        }

        .glabel {
            color: rgb(134, 133, 133);
            margin-right: 15px;
        }
    }
}