@use "../variable";
@use "../mixin" as mix;

#album_detail {
    .desktop_tab {
        padding: 10px;
    }

    .submessage_container {
        min-height: 48px;
        padding: 10px;

        .delete_submessage {
            color: rgb(247, 56, 72);
            font-style: Arial;
            line-height: 48px
        }
    }

    /* 画像投稿ボタン(モバイル用はアルバム名)とタブを同一行にデザイン */
    .pos_relative {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .pos_right {
        position: absolute;
        right: 0%;
    }
    .pos_left {
        position: absolute;
        left: 0%;
    }
    .pos_vertical_center {
        position: absolute;
        top: 25%;
    }

    .edit_button {
        font-weight: bold;
        color: rgb(168, 168, 168);

        &.mobile {
            bottom: 5px;
        }
    }

    .ic_button {
        background-color: rgb(126, 170, 252);
        color: white;

        &.desk {
            margin: 10px 0 10px 0;
        }

        &.mobile {
            bottom: 5px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .mobile_title {
        padding-bottom: 25px;
    }

    .delete_button {
        margin: 40px 0 20px 0;
        width: 60%;
        border-radius: 30px;
        font-weight: bold;
    }
    .disabled_button {
        margin: 40px 0 20px 0;
        width: 60%;
        background: #e6e1e1;
        border: 1px solid #646363;
        border-radius: 30px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
    }
}

#album_register {
    @include mix.formStyle;
}

#album_editer {
    @include mix.formStyle;

    .delete_button {
        margin: 40px 0 20px 0;
        width: 80%;
        border-radius: 30px;
        font-weight: bold;
    }
}

#image_register {
    margin-bottom: 5rem;

    .container {
        display: flex;
    }

    .card {
        @include mix.registerCard;
    }

    .dropzone {
        width: 90%;
        height: 20vh;
        box-sizing: border-box;
        border-width: 2;
        border-color: #666666;
        border-style: dashed;
        border-radius: 5;
        vertical-align: top;
        display: flex;
        margin: 3vh auto;
        position: relative;

        .drag-drop-info {
            color: #999;
            font-weight: bold;
            font-size: 14px;
            font-size: 1.4em;
            margin: auto;
            width: 100%;
            height: auto;
        }

        .c_clear {
            background: #fce3ca;
            border-radius: 10px;
        }
        .clear_button_place {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
    .thumbs-container {
        margin-top: 1.6rem;
    }

    .gridlist {
        width: 100%;
        height: 450px;
        transform: translateZ(0);
    }

    .circle {
        width: 90%;
        height: 20vh;
        vertical-align: top;
        display: flex;
        margin: 3vh auto;
        position: relative;
    }
}

#video_register {
    margin-bottom: 5rem;

    .container {
        display: flex;
    }

    .card {
        @include mix.registerCard;
    }

    .dropzone {
        width: 90%;
        height: 20vh;
        box-sizing: border-box;
        border-width: 2;
        border-color: #666666;
        border-style: dashed;
        border-radius: 5;
        vertical-align: top;
        display: flex;
        margin: 3vh auto;
        position: relative;

        .drag-drop-info {
            color: #999;
            font-weight: bold;
            font-size: 14px;
            font-size: 1.4em;
            margin: auto;
            width: 100%;
            height: auto;
        }

        .c_clear {
            background: #fce3ca;
            border-radius: 10px;
        }
        .clear_button_place {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .circle {
        width: 90%;
        height: 20vh;
        vertical-align: top;
        display: flex;
        margin: 3vh auto;
        position: relative;
    }
    
    .metas-container {
        margin-top: 1.6rem;

        .meta-table {
            width: 100%;
            border-collapse:collapse;

            thead {
                background-color: #edf1f3;
                border-bottom: 1px dotted rgb(139, 139, 139);
                color: #999;

                th.h-filename {
                    width: 70%;
                }
                th.h-filesize {
                    width: 30%;
                }
            }

            tbody {
                font-size: 1.1rem;
                color: #6b6867;

                td {
                    border-bottom: 1px solid #edf1f3;
                    padding: 3px 0;
                }

                span {
                    font-size: 0.9rem;
                }
            }
        }
    }
}