.c_card {
    margin-top: 20px;
}

.c_title {
    color: rgb(179, 165, 165);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
}

.c_title_space {
    padding: 15px;

    &.center {
        text-align: center;
    }
}

.c_content_space {
    margin: 15px;
    padding: 0 20px 0 20px;
}

.c_side_area {
    position: -webkit-sticky;/*Safari用*/
    position: sticky;
    top:0;
    /*横半分50%　縦を100vhにする*/
    height: 100vh;
    overflow: auto;
}

// スクロールバーのスタイル
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
    box-shadow: none;
}

form {
    padding: 5% 0 5% 0;

    .c_textfield {
        margin: 5px 0 5px 0;
        width: 80%;
    }

    .c_labelarea {
        margin: 15px 0 10px 0;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: start;
    }
    .c_label {
        font-size: 1.1rem;
        color: rgb(179, 165, 165);
    }

    .c_imagearea {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .c_imagesize {
        max-width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    .c_button {
        margin: 20px 0 20px 0;
        width: 80%;
        height: 50px;
        position: relative;
        background: #f8cf77;
        border: 1px solid #f8cf77;
        border-radius: 30px;
        box-sizing: border-box;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        
        &:before {
            content: '';
            width: 8px;
            height: 8px;
            border: 0;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 25px;
            margin-top: -6px;
        }
        &:hover {
            background: #fff;
            color: #f8cf77;
        }
        &:hover:before {
            border-top: 2px solid #f8cf77;
            border-right: 2px solid #f8cf77;
        }

        &.small {
            width: 40%
        }
    }

    .c_clear {
        background: #fce3ca;
        border-radius: 10px;
    }
}
