#home {
    .box {
        // margin-left: 2rem;
        height: 500px;
        width: 300px;
        box-shadow: 0.5px 1.2px rgb(139, 139, 139);
        border: 0.1px solid rgb(105, 247, 148);
        border-radius: 2%;
    }

    .mobile_profile {
        margin-top: 30px;
    }
}
