#home {
    position: relative;

    .mobile_profile {
        margin-top: 30px;
    }

    .description_label {
        font-size: 0.7rem;
        text-align: right;
        color: rgb(116, 161, 245);
        margin: 0 5px 10px 0;

        &.mobile {
            font-size: 0.8rem;
        }

        .label_font {
            cursor: pointer;
        }
    }

    .description {
        text-align: left;
        font-size: 0.9rem;
        color: rgb(179, 165, 165);
        padding: 10px;
    }
}

#login {
    .card {
        background-color: white;
        max-height: 350px;
        
        .header {
            background-color: rgb(253, 200, 103);
            height: 5%;
        }
        .header_title {
            font-family: 'Merienda', 'cursive';
            font-size: 1.2rem;
            color: white;
        }
    }

    .textfield {
        margin: 15px 0 15px 0;
        width: 80%;
    }

    .pagetransition_card {
        margin: 20px 0 20px 0;
    }

    .formcontainer {
        display: flex;
        padding: 50px;
    }
    
    .formcontainer_mobile {
        padding-top: 30px;
    }

    // PC版
    .loginpage_image_area {
        position: relative;

        img {
            animation-name: loginpage_image;
            -webkit-animation-name: loginpage_image;
            animation-duration: 10s;
            -webkit-animation-duration: 10s;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            opacity: 0;
        }
    }
    .loginpage_back {
        position: absolute;
        top: 10%;
        left: 22%;
        height: auto;
        width: 450px;

        &.after {
            animation-delay:5s;
            -webkit-animation-delay:5s;
        }
    }
    .loginpage_front {
        position: absolute;
        top: 33%;
        left: 11%;
        height: auto;
        width: 450px;

        &.after {
            animation-delay:5s;
            -webkit-animation-delay:5s;
        }
    }
    
    @keyframes loginpage_image {
        0% {
            opacity: 0;
        }
        
        12.5% {
            opacity: 1;
        }
    
        37.5% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
    @-webkit-keyframes loginpage_image {
        0% {
            opacity: 0;
        }
        
        12.5% {
            opacity: 1;
        }
    
        37.5% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    // iPad版
    .loginpage_image_area_ipad {
        position: relative;
    }
    .loginpage_back_ipad {
        position: absolute;
        top: 3%;
        left: 38%;
        height: auto;
        width: 350px;
    }
    .loginpage_front_ipad {
        position: absolute;
        top: 15%;
        left: 18%;
        height: auto;
        width: 350px;
    }
    .card_ipad {
        background-color: white;
        max-height: 350px;
        margin-top: 120%;
        
        .header {
            background-color: rgb(253, 200, 103);
            height: 5%;
        }
        .header_title {
            font-family: 'Merienda', 'cursive';
            font-size: 1.2rem;
            color: white;
        }
    }

    // iPhone版
    .loginpage_image_area_iphone {
        position: relative;
        padding-bottom: 15px;
    }
    .loginpage_iphone {
        height: auto;
        width: 100%;
    }

    // 文字フォント
    .wf-merienda {
        position: absolute;
        font-family: 'Merienda', 'cursive';
        font-size: 2.0rem;
        font-weight: bold;
        color: white;

        &.pc {
            top: 30%;
            left: 23%;
        }
        &.ipad {
            top: 15%;
            left: 33%;
        }
        &.iphone {
            // 上下中央配置
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 80%;
            height: 3.2rem;
        }
    }
    .wf-roundedmplus1c {
        position: absolute;
        font-family: "M PLUS Rounded 1c";
        font-size: 1.5rem;
        font-weight: bold;

        &.pc {
            top: 77%;
            left: 20%;
        }
        &.ipad {
            top: 40%;
            left: 30%;
        }
    }
}

#dragDropArea {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border: #ddd dashed 5px;
    min-height: 200px;
    text-align: center;
    position: relative;

    p {
        color: #999;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4em;
    }

    .drag-drop-buttons {
        margin-top: 20px;
        font-size: 12px;
        font-size: 1.2em;
    }
    .drag-drop-buttons input {
        margin: auto;
    }

    .clear_button_place {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#talk {
    margin-top: 20px;

    .message_area {
        overflow: auto;
        height: 75vh;
    }

    .avatar_area {
        width: 20%;
        margin-top: 5px;

        .avatar {
            height: 100%;
            margin-left: 5px;
        }
        .avatar_name {
            text-align: left;
            font-size: 0.7rem;
            margin-left: 10px;

            &.left {
                color: rgb(179, 165, 165);
            }
        }
    }

    .content_area {
        padding: 10px;

        .content {
            font-size: 1.1rem;
            white-space: pre-line;  // 文字データに改行コードが含まれる場合、改行を実行
        }
    }

    .right-box {
        background-color: rgb(253, 200, 103); 
        color: white;
        float: right;
    }

    .left-box {
        background-color: white;
        color: #1b2538;
        float: left;
    }

    .message_field {
        font-size: 1.2rem;
        padding: 20px 0 20px 0;
        position: fixed;
        bottom: 0;
        display: 'flex';
        width: 100%;

        .reply_icon {
            font-size: 1.5rem;
            color: blue;
            width: 100%;
        }

        .textfield {
            width: 85%;
            background-color: white;
        }
    }

    .message_box {
        // メッセージを1データごとに改行させる
        overflow: hidden
    }
}