#group_list {
    .list_box {
        margin-top: 30px;
        position: relative;
    }

    .groupcreate_button {
        margin: 20px 0 20px 0;
        height: 50px;
        width: 40%;
        align-items: right;
        background-color: #fff;
        border: 2px solid #f8cf77;
        border-radius: 30px;
        box-sizing: border-box;
        color: #f8cf77;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background: rgb(245, 218, 160);
            color: #fff;

            .groupcreate_icon {
                color: #fff;
            }
        }

        &.mobile {
            width: 60%;
        }

    }

    .groupcreate_icon {
        color: #f8cf77;
        margin-right: 10px;
    }
}

#group_detail {
    .albumcreate_button {
        margin: 20px 0 20px 0;
        height: 50px;
        width: 40%;
        align-items: right;
        background-color: #fff;
        border: 2px solid #f8cf77;
        border-radius: 30px;
        box-sizing: border-box;
        color: #f8cf77;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background: rgb(245, 218, 160);
            color: #fff;

            .albumcreate_icon {
                color: #fff;
            }
        }

        &.ipad {
            width: 50%;
        }

        &.mobile {
            width: 60%;
        }
    }

    .albumcreate_icon {
        color: #f8cf77;
        margin-right: 10px;
    }

    .album_list {
        margin-top: 30px;
    }

    .ipad_grouplist {
        margin-top: 20px;
    }
}

#group_register {
    .card {
        margin-top: 50px;
        background-color: white;
        min-height: 250px;
        
        .header {
            background-color: rgb(253, 200, 103);
            height: 5%;
        }
        .header_title {
            font-family: 'Merienda', 'cursive';
            font-size: 1.2rem;
            color: white;
        }
    }

    form {
        .textfield {
            margin: 15px 0 15px 0;
            width: 80%;
        }

        .glabel {
            color: rgb(134, 133, 133);
            margin-right: 15px;
        }
    }
}

#group_editer {
    .card {
        margin-top: 50px;
        background-color: white;
        min-height: 250px;
        
        .header {
            background-color: rgb(253, 200, 103);
            height: 5%;
        }
        .header_title {
            font-family: 'Merienda', 'cursive';
            font-size: 1.2rem;
            color: white;
        }
    }

    form {
        .textfield {
            margin: 15px 0 15px 0;
            width: 80%;
        }

        .glabel {
            color: rgb(134, 133, 133);
            margin-right: 15px;
        }
    }

    .delete_button {
        margin: 40px 0 20px 0;
        width: 80%;
        border-radius: 30px;
        font-weight: bold;
    }
}

#post_register {
    .card {
        margin-top: 50px;
        background-color: white;
        min-height: 250px;
        
        .header {
            background-color: rgb(253, 200, 103);
            height: 5%;
        }
        .header_title {
            font-family: 'Merienda', 'cursive';
            font-size: 1.2rem;
            color: white;
        }
    }

    form {
        .textfield {
            margin: 15px 0 15px 0;
            width: 80%;
        }

        .glabel {
            color: rgb(134, 133, 133);
            margin-right: 15px;
        }
    }
}